.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top:0;
  width: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0 0 0 #EDF0F3;
  background-color: #F8F9FB;
  padding: 40px 24px 8px;
  justify-content: space-between;

  .new-validation {
    margin-top: 32px;

    a {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  .feed-list {
    padding: 40px 0 24px;
    flex: 1;

    ul li {
      color: #BABABA;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .kebab-menu-expanded {
        position: absolute;
        right: 0;
        top: 0;
      }

      &.active {
        color: #3E3E3E;
        list-style: circle;
      }

      a {
        text-decoration: none;
        color: currentColor;
      }
    }
  }
}