.home {
  margin-left: 280px;

  ul {
    padding: 0;
    list-style: none;
  }
  
  header {
    .filters {
      display: flex;
      align-items: center;

      ul {
        display: inline-flex;

        li {
          padding: 8px 12px;
          margin: 0 4px;
          background: #F8F9FB;
          cursor: pointer;

          &:hover {
            background: #ABACAD;
          }
        }
      }
    }
  }

  .settings {
    padding-top: 8px;
    margin-left: 16px;
  }
}