<div id="card-container">
  <h2>Messages: (total: {{errors.length + warnings.length}})</h2>
  <div class="errors" *ngIf="errors.length > 0">
    <h4>Errors: (total: {{ errors.length }})</h4>

    <ul *ngIf="isErrorsShown">
      <li *ngFor="let error of errors">
        <card 
          [title]="error.title" 
          [description]="error.description"
          [type]="error.type"
          [productId]="error.productId">
        </card>
      </li>
    </ul>
  </div>

  <div class="warnings" *ngIf="warnings.length > 0">
    <h4>Warnings: (total: {{ warnings.length }})</h4>

    <ul *ngIf="isWarningsShown">
      <li *ngFor="let warning of warnings">
        <card 
          [title]="warning.title" 
          [description]="warning.description"
          [type]="warning.type"
          [productId]="warning.productId">
        </card>
      </li>
    </ul>
  </div>

</div>