<div class="modal">
  <div class="ui dimmer visible active">
    <div class="ui manage modal flex vertical transition visible active">
      <div class="header">
        <div class="close">
          <svg (click)="hideModal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
        </div>
        <h1 class="ng-binding">Settings</h1>
      </div>
      <div class="content flex display">
        {{ feedId }}
        <div>
          blueprint here
        </div>
        <div>
          total amount of messages
        </div>
        <div>
          last validation date here
        </div>
        <div>
          button to revalidate
        </div>
      </div>
    </div>
  </div>
</div>