<div class="modal">
  <div class="ui dimmer visible active">
    <div class="ui manage modal flex vertical transition visible active">
      <div class="header">
        <div class="close">
          <svg (click)="hideModal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
            fill="none" stroke="#000000" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </div>
        <h1 class="ng-binding">Feed information</h1>
      </div>
      <div class="content flex display">
        <div class="ui grid">
          <div class="six wide column">

            <div class="edit-feed-name field">
              <label for="edit-feed-name">Feed name:</label>
              <div class="ui input">
                <input [(ngModel)]="feedNameLocal" type="text">
              </div>
            </div>

            <div class="edit-feed-name field">
              <label for="edit-feed-name">URL:</label>
              <div class="ui input">
                <input [(ngModel)]="feedUrl" type="text">
              </div>
            </div>

            <div>
              <label>Total messages:</label>
              {{ totalAmount }}
            </div>
          </div>
          <div class="six wide column">
            <div>
              <label>Blueprint:</label>
              <!-- <p>A blueprint shows all the used keys inside a product of a feed. This blueprint is used to validate on key/value pairs.</p> -->
              <ul>
                <li *ngFor="let key of keys">{{ key }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="ui default outline left button" (click)="hideModal()">Cancel</button> 
        <button class="ui success button" [disabled]="feedName === feedNameLocal" (click)="saveChanges()">Save new name</button></div>
    </div>
  </div>
</div>
