* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #95C7EC;
  color: #282c37;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  color: #323232;
}

ul {
  padding-left: 24px;
}