@import url("https://client.bannerwise.io/styles/app-bb331d22.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #95C7EC;
  color: #282c37;
}

body {
  color: #323232;
  overflow: auto !important;
}

ul {
  // padding-left: 24px;
  list-style: none;
}

header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;  

  > span {
    display: inline-flex;
    align-items: center;
  }

  h1 {
    font-weight: 700;
  }
}

.home,
.upload {
  padding: 24px;
  width: calc(100vw - 280px);
  background: #fff;
  min-height: 100vh;
}

.container {
  margin-top: 24px;
  background-color: #F8F9FB;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #EDF0F3;

  .errors,
  .warnings {
    h3 {
      display: flex;
      align-items: center;
      cursor: pointer;

      > .chevron {
        margin-left: 8px;
        display: none;
        transform: translateY(2px);
      }

      &:hover {
        > .chevron {
          display: inline-block;
        }
      }
    }
  }
}
