.loading {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.dot {
	position: relative;
	width: 8px;
	height: 8px;

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		background-color: #2B90D9;
	}
	&:nth-child(1):before {
		animation: dotLoading 1.3s infinite cubic-bezier(.455, .03, .515, .955);
	}
	&:nth-child(2):before {
		animation: dotLoading 1.3s infinite cubic-bezier(.455, .03, .515, .955);
		animation-delay: .2s;
	}
	&:nth-child(3):before {
		animation: dotLoading 1.3s infinite cubic-bezier(.455, .03, .515, .955);
		animation-delay: .4s;
	}
}

@keyframes dotLoading {
	0% {
		transform: scale(.2);
		opacity: .2;
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.2);
		opacity: .2;
	}
}