.upload {
  margin-left: 280px;

  &-container {
    display: flex;
    align-items: flex-end;

    .input {
      display: inline-flex;
      flex-direction: column;
      flex: 1;
      margin-right: 16px;
    }
  }

  .message { 
    margin-top: 8px;
  }
}